/* New */
.Upload-Page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: var(--lightpink);
}

.UploadForm-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  border-color: var(--midpurple);
  border-radius: 25px;
  padding: 20px;
}

.UploadForm-Title {
  text-align: center;
}

.UploadForm-submit-button {
  background-color: var(--darkpurple);
}

/* old stuff */
.createPostPage {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: auto;
  padding: 20px;
  border: 5px solid dodgerblue;
  border-radius: 5px;
}

.buttonTag {
  border: 10px solid #c689c6;
  color: "#937DC2";
}

.upload-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 60vw;
  margin: auto;
  text-align: center;
  border: 5px solid #c689c6;
  padding: 50px;
  border-radius: 25px;
}

.formContainer button:hover {
  cursor: pointer;
  background-color: dodgerblue;
}

span {
  color: red;
}