.buttonUpload {
    background-color: var(--darkpurple) !important;
    width: 20vw;
    border-radius: 20px;
}

.buttonTag {
    border: 10px solid #c689c6;
    color: "#937DC2";
}

.upload-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 60vw;
    margin: auto;
    text-align: center;
    border: 5px solid #c689c6;
    padding: 50px;
    border-radius: 25px;
}

.upload-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}