.LogIn-Page {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--lightpink);
    height: 100vh;

}

.LogIn-Card {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.LogIn-Logo-Container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.LogIn-Logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--darkpurple);
    width: 200px;
    height: 90px;
}

.LogIn-Text {
    color: var(--darkpurple);
    text-align: center;
}

.LogIn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.LogIn-Input {
    border-radius: 25px;
    height: 10vh;
}

.LogIn-Button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.Button-Guest {
    padding-bottom: 10px;
    margin-bottom: 10px;
}