body {
  font-family: Lato;
  box-sizing: border-box;
  background-color: #ffe6f7;
  height: 100%;
  width: 100%;
  margin: 50;
  display: table;

}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.Button-SignUp {
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin-Register-signup {
  margin-left: 10px;
}

/* Set a style for all buttons */
button {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity: 1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,
.signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 60vw;
  margin: auto;
  text-align: center;
  border: 5px solid #c689c6;
  padding: 50px;
  border-radius: 25px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn,
  .signupbtn {
    width: 100%;
  }
}
