.HomePage-Container {
    height: 100%;
    width: 100%;
    padding-top: 70px;
    padding-bottom: 50px;
}

.HomePage-Avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.HomePage-AccountInfo {

}
.AccountBar::selection {
    color: var(--darkpurple) !important;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: var(--darkpurple);
}

.ant-tabs-tab:hover  {
    color: var(--darkpurple);
}

html {
    --antd-wave-shadow-color: #var(--darkpurple);
}

::selection {
    background: var(--darkpurple) !important;
}

.ant-tabs-ink-bar {
    position: absolute;
    background: var(--darkpurple);
    pointer-events: none;
}

.ant-typography-expand, .ant-typography-edit, .ant-typography-copy {
    color: var(--darkpurple);
}

.ant-typography-expand:focus-visible, .ant-typography-edit:focus-visible, .ant-typography-copy:focus-visible,
.ant-typography-expand:hover, .ant-typography-edit:hover, .ant-typography-copy:hover {
    color: var(--lightpurple);
}